/*-----------------------------------------
    FOOTER
-----------------------------------------*/
footer.page-footer {
	background-color: var(--NeutralThree);
	border-top: 1px solid var(--White);
	& > .block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		width: 90vw;
		margin: 0 auto;
		position: relative;
		padding: 40px 0;
		& > .block {
			width: 50%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			max-width: 400px;
			@media(--515vp) {
				width: 100%;
				margin-bottom: 3vh;
			}
			&:last-of-type {
				justify-content: flex-end;
				@media(--515vp) {
					justify-content: center;
				}
			}
			& .half:first-child {
				margin-right: 40px;
			}
		}
		& h2 {
			margin-top: 0;
			margin-bottom: 50px;
			width: 100%;
			color: var(--WhiteCopy);
			font-size: responsive 20px 28px; 
			font-range: 420px 1400px;
			@media(--515vp) {
				margin-bottom: 1em;
			}
		}
		& p {
			color: var(--WhiteCopy);
			font-size: .875rem;
		}
		& a {
			color: var(--PrimaryOneCopy);
			font-size: .875rem;
		}
	}
}
/*-----------------------------------------
		SOCIAL NAVIGATION
-----------------------------------------*/
nav.social-nav {
	width: 100%;
	margin-bottom: 50px;
	text-align: right;
	@media(--515vp) {
		text-align: center;
		margin-bottom: 1rem;
	}
	& .social-button {
		margin-right: 0;
		margin-left: 10px;
	}
}