/*-----------------------------------------
    TOP NAVIGATION
-----------------------------------------*/
.top-nav {
	background-color: var(--NeutralThree);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	& nav {
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
		& ul {
			list-style: none;
			margin: 0;
			padding: 0;
			& li {
				display: inline-block;
				margin: 0 .35rem;
				padding: 0;
				@media(--515vp) {
					margin: 0;
				}
				&::before {
					display: none;
				}
				&:nth-last-of-type(2) {
					& a {
						color: var(--PrimaryOneCopy);
						&:hover, &:focus, &.is-hover {
							color: color(var(--PrimaryOne) shade(10%));
						}
						&:active, &.is-active {
							color: color(var(--PrimaryOne) shade(15%));
						}
					}
				}
				&:last-of-type{
					position: absolute;
					right: 0;
					& a {
						background-color: var(--PrimaryOne);
						color: var(--NeutralCopy);
						&:hover, &:focus, &.is-hover {
							background-color: color(var(--PrimaryOne) shade(10%));
							color: var(--NeutralCopy);
						}
						&:active, &.is-active {
							background-color: color(var(--PrimaryOne) shade(15%));
							color: var(--NeutralCopy);
						}
					}
				}
				& a {
					font-family: var(--HeadCopy);
					font-weight: 800;
					font-size: .75rem;
					color: var(--NeutralOne);
					text-decoration: none;
					text-transform: uppercase;
					padding: .5em 1em;
					display: block;
					transition: all .25s ease-in-out;
					&:hover, &:focus, &.is-hover,
					&:active, &.is-active {
						color: color(var(--NeutralOne) lightness(65%));
					}
				}
			}
		}
	}
}

/*-----------------------------------------
    PRIMARY NAVIGATION
-----------------------------------------*/
.nav-container {
	background-color: var(--White);
	border-bottom: 5px solid var(--PrimaryTwo);
	width: 100%;
	position: fixed;
	top: 25px;
	z-index: 1000;
	& > .block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		padding: .5em 0;
		& > .block {
			display: flex;
		}
		& nav {
			padding: .25em 0;
			display: inline-block;
			& a {
				display: inline-block;
				border-right: 2px solid #979797;
				text-align: center;
				text-decoration: none;
				cursor: pointer;
				padding: .25em .75em;
				&:last-of-type {
					border: none;
				}
				&:hover, &:focus, &.is-hover {
					& svg {
						fill: var(--PrimaryTwo);
					}
					.hamburger span {
						background-color: var(--PrimaryTwo);
					}
				}
				&:active, &.is-active {
					& svg {
						fill: color(var(--PrimaryTwo) shade(10%));
					}
					.hamburger span {
						background-color: color(var(--PrimaryTwo) shade(10%));
					}
				}
				& svg {
					fill: var(--NeutralThree);
					height: 35px;
					display: block;
					margin: 0 auto;
					transition: all .25s ease-in-out;
					@media(--515vp) {
						height: 30px;
						padding: 4px 2px 0 2px;
					}
				}
				& > span {
					color: var(--NeutralOne);
					font-size: .75rem;
					display: block;
					text-transform: uppercase;
					font-family: var(--HeadCopy);
					font-weight: 800;
					margin-top: 8px;
				}
			}
		}
	}
}
.hamburger {
	height: 30px;
	padding-bottom: 5px;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 3px;
	transition: all .25s ease-in-out;
	@media(--515vp) {
		width: 25px;
		height: 25px;
	}
	& span {
		transition: all .25s ease-in-out;
		background-color: var(--NeutralThree);
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}
}
.hamburger span:nth-child(1) {
  top: 0px;
}
.hamburger span:nth-child(2),.hamburger span:nth-child(3) {
  top: 10px;
	@media(--515vp) {
		top: 8px;
	}
}
.hamburger span:nth-child(4) {
	top: 20px;
	@media(--515vp) {
		top: 16px;
	}
}
.hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
/*-----------------------------------------
    BRAND LOGO
-----------------------------------------*/
a.brand {
	text-decoration: none;
	& img, & svg {
		height: 70px;
		@media(--515vp) {
			height: 60px;
		}
	}
}
a.brand-two {
	border-left: 1px solid var(--NeutralOne);
	padding: 0 14px;
	margin: 0 14px;
	display: flex;
	align-items: center;
	@media(--768vp) {
		display: none;
	}
	& img, & svg {
		height: 35px;
	}
}
/*-----------------------------------------
    OPEN PRIMARY NAVIGATION
-----------------------------------------*/
.primary-nav-container {
	background-color: color(var(--NeutralThree) alpha(90%));
	width: 80vw;
	height: calc(100vh - 120px);
	max-width: 0;
	position: absolute;
	z-index: 1000;
	right: 0;
	overflow: hidden;
	position: fixed;
	top: 120px;
	transition: all .25s ease-in-out;
	@media(--515vp) {
		top: 112px;
		height: calc(100vh - 112px);
	}
	&.open {
		padding: 3% 90px;
		max-width: 700px;
		overflow-y: auto;
		& .phone,
		& nav.nav-primary,
		& nav.nav-secondary {
			opacity: 1;
		}
		@media(--515vp) {
			padding: 3% 1.25rem;
		}
	}
	& .phone {
		position: absolute;
		top: calc(3% + 16px);
		right: 90px;
		z-index: 100;
		color: var(--WhiteCopy);
		font-family: var(--HeadCopy);
		font-weight: 800;
		text-decoration: none;
		opacity: 0;
		transition: all .25s ease-in-out .15s;
		@media(--515vp) {
			right: 1rem;
			top: 3%;
		}
		& svg {
			display: inline-block;
			fill: var(--PrimaryTwo);
			margin-right: .5rem;
			height: 25px;
			vertical-align: text-bottom;
			@media(--515vp) {
				height: 18px;
			}
		}
		&:hover, &:focus, &.is-hover {
			color: var(--PrimaryTwo);
		}
		&:active, &.is-active {
			color: color(var(--PrimaryTwo) shade(10%));
		}
	}
	& nav.nav-primary {
		width: 700px;
		opacity: 0;
		transition: all .25s ease-in-out .15s;
		& ul {
			list-style: none;
			margin: 0;
			padding: 0;
			& li {
				padding: 0;
				margin-bottom: 3vh;
				@media(--515vp) {
					margin-bottom: 2.5vh;
				}
				&::before {
					display: none;
				}
				& a {
					color: var(--WhiteCopy);
					font-family: var(--HeadCopy);
					font-weight: 800;
					font-size: responsive 24px 28px; 
					font-range: 420px 1400px;
					text-decoration: none;
					transition: all .25s ease-in-out;
					&:hover, &:focus, &.is-hover {
						color: var(--PrimaryTwo);
					}
					&:active, &.is-active {
						color: color(var(--PrimaryTwo) shade(10%));
					}
				}
				& ul {
					padding: 20px 0 0 0;
					&	li {
						margin-bottom: 1.5vh;
						& a {
							color: #c6c5c5;
							text-transform: uppercase;
							font-size: responsive 14px 20px; 
							font-range: 420px 1400px;
							display: flex;
							align-items: center;
							& img { 
								order: -1;
								height: 1.6em;
								margin-right: .5em;
							}
						}
					}
				}
			}
		}
	}
	& nav.nav-secondary {
		width: 700px;
		opacity: 0;
		transition: all .25s ease-in-out .15s;
		& ul {
			list-style: none;
			margin: 0;
			padding: 0;
			& li {
				border-right: 1px solid #c6c5c5;
				padding: 0 1.25em;
				display: inline-block;
				@media(--515vp) {
					border: none;
					padding: 0 0.4rem;
				}
				&::before {
					display: none;
				}
				&:first-child {
					padding: 0 1.25em 0 0;
					@media(--515vp) {
						border: none;
						padding: 0 0.4rem 0 0;
					}
				}
				&:last-child {
					border: none;
					@media(--515vp) {
						padding: 0 0 0 0.4rem;
					}
				}
				& a {
					color: var(--PrimaryOne);
					text-transform: uppercase;
					text-decoration: none;
					font-family: var(--HeadCopy);
					font-weight: 800;
					font-size: responsive 14px 18px; 
					font-range: 420px 1400px;
					transition: all .25s ease-in-out;
					&:hover, &:focus, &.is-hover {
						color: color(var(--PrimaryOne) shade(10%));
					}
					&:active, &.is-active {
						color: color(var(--PrimaryOne) shade(15%));
					}
				}
			}
		}
	}
}
/*-----------------------------------------
    SEARCH FORM
-----------------------------------------*/
.search-icon-contain {
	position: relative;
	width: 40px;
	height: 40px;
	@media(--515vp) {
		width: 30px;
		height: 30px;
		margin: 0 auto;
	}
}
.open .search-icon {
	border-color: transparent;
	transition: all 0.4s cubic-bezier(0.11, 0.92, 0.52, 0.98);
	top: 50%;
	left: 50%;
	&:before {
		transform: rotate(45deg) translate(0%, 0%);
		width: 153%;
		transition: all 0.2s cubic-bezier(0.11, 0.92, 0.52, 0.98) 0.2s;
	}
	&:after {
		transform: rotate(-45deg) translate(0%, 0%);
		width: 153%;
		opacity: 1;
		transition: all 0.2s cubic-bezier(0.11, 0.92, 0.52, 0.98) 0.4s;
	}
}
.search-icon {
	position: absolute;
	width: 60%;
	height: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	border: .125rem solid #000;	
	transition: all .4s cubic-bezier(.11,.92,.52,.98) .5s;
	&:before,
	&:after {
		content: "";
		position: absolute;
		height: 2px;
		background-color: #000;
		display: block;
		top: 110%;
	}
	&:before {
		right: -5%;
		transition: all 0.4s cubic-bezier(0.11, 0.92, 0.52, 0.98) 0.2s;
		transform-origin: right bottom;
		transform: rotate(45deg) translate(50%, 50%);
		width: 80%;
	}
	&:after {
		left: 0;
		width: 100%;
		opacity: 0;
		transform: rotate(-45deg) translate(-50%, -50%);
		transform-origin: left bottom;
		transition: all 0.4s cubic-bezier(0.11, 0.92, 0.52, 0.98);
		transition: transform 0.4s cubic-bezier(0.11, 0.92, 0.52, 0.98), opacity 0.2s cubic-bezier(0.11, 0.92, 0.52, 0.98);
	}
}
.search-container {
	position: fixed;
	z-index: 1000;
	top: 124px;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	background-color: var(--PrimaryOne);
	overflow: hidden;
	transition: all .25s ease-in-out;
	padding: 0;
	max-height: 0;
	@media(--515vp) {
		top: 112px;
	}
	&.open {
		padding: 12px 0;
		max-height: 60px;
	}
	& form {
		padding: 0;
		& input {
			padding: 6px;
			min-width: 240px;
			width: 30vw;
			border: none;
		}
		& button {
			padding: 4px 24px;
			margin: 0;
		}
	}
}