/*-----------------------------------------
    SEARCH RESULTS
-----------------------------------------*/
.search-results {
	justify-content: flex-start;
	& .navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		& a {
			display: inline-block;
			padding: .65em 2em;
			margin: 0 .5em .5rem 0;
			cursor: pointer;
			border: none;
			outline: none;
			font-family: var(--HeadCopy);
			font-weight: 800;
			text-transform: uppercase;
			text-decoration: none;
			transition: all .25s ease-in-out;
			border: 2px solid var(--NeutralThree);
			background-color: var(--NeutralThree);
			color: var(--WhiteCopy);
			&:hover, &:focus, &.is-hover {
				background-color: color(var(--NeutralThree) shade(40%));
				border-color: color(var(--NeutralThree) shade(40%));
			}
			&:active, &.is-active {
				background-color: color(var(--NeutralThree) shade(60%));
				border-color: color(var(--NeutralThree) shade(60%));
			}
		}
	}
	& .image-card {
		& h3 {
			min-height: 70px;
		}
		& p {
			min-height: 120px;
		}
	}
}