/*-----------------------------------------
    Thank You PAGE
-----------------------------------------*/
.thank-message {
	width: 80vw;
	max-width: 800px;
	margin: 0 auto 0 auto;
	& h1 {
		font-size: responsive 45px 68px; 
		font-range: 420px 1400px;
		margin: 0 0 10px 0;
		color: var(--PrimaryOne);
	}
	& h2 {
		font-size: responsive 20px 28px; 
		font-range: 420px 1400px;
		margin-bottom: 2rem;
		max-width: 800px;
	}
	& svg {
		width: 80px;
		fill: var(--PrimaryOne);
	}
}