/*-----------------------------------------
    FONTS
-----------------------------------------*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

/*-----------------------------------------
    HEADINGS
-----------------------------------------*/
h1, h2, h3, h4, h5, h6,
.widget h1, .widget h2, .widget h3,
.widget h4, .widget h5, .widget h6 {
	font-family: var(--HeadCopy);
	font-weight: 800 !important;
	margin: 1em 0 .35em 0;
}
h1, .widget h1 { 
	font-size: responsive 35px 55px; 
	font-range: 420px 1400px;
}
h2, .widget h2 {  
	font-size: responsive 28px 40px; 
	font-range: 420px 1400px;
}
h3, .widget h3 {  
	font-size: responsive 23px 30px; 
	font-range: 420px 1400px;
}
h4, .widget h4 {  
	font-size: responsive 18px 25px; 
	font-range: 420px 1400px;
}
h5, .widget h5 {  
	font-size: responsive 16px 23px; 
	font-range: 420px 1400px;
}
h6, .widget h6 {  
	font-size: responsive 16px 23px; 
	font-range: 420px 1400px;
}

/*-----------------------------------------
    SUBHEADINGS
-----------------------------------------*/
h1 + h2 { 
	font-family: var(--SubHeadCopy);
	font-weight: 800;
	font-size: responsive 20px 40px; 
	font-range: 420px 1400px;
	margin-top: -.35em;
}
h2 + h3 {  
	font-family: var(--SubHeadCopy);
	font-weight: 800;
	font-size: responsive 16px 35px; 
	font-range: 420px 1400px;
	margin-top: -.35em;
}
h3 + h4 {  
	font-family: var(--SubHeadCopy);
	font-weight: 800;
	font-size: responsive 16px 25px; 
	font-range: 420px 1400px;
	margin-top: -.35em;
}

/*-----------------------------------------
    BODY COPY
-----------------------------------------*/
p {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 18px; 
	font-range: 420px 1400px;
	line-height: 1.35;
}
ol, ul {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 18px; 
	font-range: 420px 1400px;
  padding-left: 1rem;
}
ul {
	list-style: none;
  padding: 0;
	& li {
		padding-left: 2em;
		&::before {
			content: "• ";
			color: var(--PrimaryTwo); 
			font-size: 2rem;
			position: absolute;
			top: .35em;
			left: 0;
			line-height: 0;
		}
	}
}
li {  
	font-family: var(--BodyCopy);
	padding-bottom: 1.25em;
	position: relative;
}
a {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 18px; 
	font-range: 420px 1400px;
	transition: all .25s ease-in-out;
	color:var(--PrimaryTwo);
  &:hover, &:focus, &:active{
		color: color(var(--PrimaryTwo) shade(15%));
  }
}
hr {
  height: 2px;
  margin: 16px 0;
  background: var(--NeutralTwo);
  border: none;
}
blockquote, q {
  margin: 2rem auto;
  padding: 1px 1.5rem;
	font-family: var(--BodyCopy);
	width: 90%;
	text-align: center;
	& p {
		font-size: responsive 18px 23px; 
		font-range: 420px 1400px;
		line-height: 1.5;
		&:last-child {
			font-family: var(--HeadCopy);
			font-weight: 800;
			font-size: responsive 20px 29px; 
			font-range: 420px 1400px;
			line-height: 1.25;
			margin-top: -.35em;
		}
	}
}