/*-------------------------------------------------------------------

  PROCESSOR: POSTCSS
    http://postcss.org/
  SYNTAX: CSSNEXT
    http://cssnext.io/
  NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
    http://thesassway.com/advanced/modular-css-naming-conventions
  CSS Style: TABS
    http://www.sublimetext.com/docs/indentation
  CSS BASE: NORMALIZE
    https://necolas.github.io/normalize.css/
  FRAMEWORK: FLEX-BOX *SOON CSS GRID*
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   
-------------------------------------------------------------------*/


/*-----------------------------------------
    VARIABLES
-----------------------------------------*/
:root {
  --White: #ffffff;
  --Black: #000000;
	--PrimaryOne: #fbd63b;
	--PrimaryTwo: #f48c37;
	--PrimaryThree: #858585;
	--PrimaryFour: #3a3836;
	--PrimaryFive: #2c2a29;
	--NeutralOne: #858585;
	--NeutralTwo: #858585;
	--NeutralThree: #3a3836;
	--NeutralFour: #2c2a29;
	--NeutralFive: #2c2a29;
  --WhiteCopy: #ffffff;
  --BlackCopy: #2c2a29;
	--NeutralCopy: #3a3836;
	--PrimaryOneCopy: #fbd63b;
  --HeadCopy: "proxima-nova",sans-serif;
  --SubHeadCopy: "proxima-nova",sans-serif;
	--BodyCopy-Bold: "proxima-nova",sans-serif;
  --BodyCopy: "proxima-nova",sans-serif;
}

/*-----------------------------------------
    Media Queries
-----------------------------------------*/
@custom-media --1300vp (width < 1300px);
@custom-media --1200vp (width < 1200px);
@custom-media --1024vp (width < 1024px);
@custom-media --1000vp (width < 1000px);
@custom-media --768vp (width < 768px);
@custom-media --515vp (width < 515px);

/*-----------------------------------------
    UNVERSAL BOX-SIZING
-----------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*-----------------------------------------
    FORCES MEDIA QUERIES TO BE WRITTEN IN CORRECT ORDER
-----------------------------------------*/
div {
	@media(--1300vp) {
		box-sizing: inherit;
	}
	@media(--1200vp) {
		box-sizing: inherit;
	}
	@media(--1024vp) {
		box-sizing: inherit;
	}
	@media(--1000vp) {
		box-sizing: inherit;
	}
	@media(--768vp) {
		box-sizing: inherit;
	}
	@media(--515vp) {
		box-sizing: inherit;
	}
}

/*-----------------------------------------
    ADMIN WP BAR
-----------------------------------------*/
body.admin-bar {
	margin-top: -32px;
}

#wpadminbar {
	opacity: .25;
	position: fixed !important;
	top: -32px !important;
	transition: all .25s ease-in-out;
	&::after {
		content: "";
		left: 0;
		top: 100%;
		right: 0;
		height: 10px;
		position: absolute;
	}
	&:hover, &:focus {
		opacity: 1;
		top: 0 !important;
	}
}

/*-----------------------------------------
   WYSIWYG CLASSES
-----------------------------------------*/
.alignleft {
	float: left;
	margin: 8px 8px 8px 0;
	@media(--515vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}
.alignright {
	float: right;
	margin: 8px 0 8px 8px;
	@media(--515vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}
.aligncenter {
	margin: 0 auto;
	display: block;
}

/*-----------------------------------------
   CONTENT WRAPPER
-----------------------------------------*/
.page-contain {
	margin-top: 120px;
	@media(--515vp) {
		margin-top: 98px;
	}
	& .default-contents:nth-child(2) {
		padding: 5vh 0 8vh 0;
	}
}
.default-contents {
	width: 90vw;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 0 20px 0;
	@media(--1024vp) {
		width: 90vw;
	}
	& p:first-of-type {
		color: var(--NeutralOne);
		font-size: responsive 18px 30px; 
		font-range: 420px 1400px;
	}
	& h1:first-child,
	& h2:first-child,
	& h3:first-child,
	& h4:first-child {
		margin-top: 0;
	}
	& img, & svg {
		max-width: 100%;
		height: auto;
	}
}