/*-----------------------------------------
    CARD CONTAINER
-----------------------------------------*/
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	max-width: 60vw;
	margin: 20px auto 25px auto;
	@media(--1200vp) {
		max-width: 80vw;
	}
	&.wide {
		max-width: 80vw;
	}
	.household-moving & {
		margin: 0 auto 25px auto;
	}
	&.services{
		max-width: 80vw;
		margin: 50px auto 25px auto;
		@media(--1300vp) {
			max-width: 90vw;
		}
	}
	&.tile-container {
		max-width: 97%;
		width: 100%;
	}
}

/*-----------------------------------------
    CARD
-----------------------------------------*/
.card {
	width: 30.33%;
	margin: 0 1.5% 40px 1.5%;
	text-decoration: none;
	position: relative;
	@media(--1200vp) {
		width: 47%;
	}
	@media(--515vp) {
		width: 100% !important;
		margin: 0 0 8vw 0;
	}
	.wide & {
		width: 22%;
		@media(--1200vp) {
			width: 47%;
		}
		@media(--515vp) {
			width: 100% !important;
			margin: 0 0 2vw 0;
		}
	}
	& h3 {
		margin-top: 1rem;
		color: var(--BlackCopy);
		text-decoration: none;
	}
	& p {
		color: var(--BlackCopy);
		text-decoration: none;
	}
	& a {
		text-decoration: none;
	}
	& .button {
		position: absolute;
		bottom: 0;
		@media(--515vp) {
			position: relative;
		}
	}
}

/*-----------------------------------------
    FULL & HALF CARD
-----------------------------------------*/
.full-card {
	width: 97%;
	margin: 0 1.5% 8vw 1.5%;
	display: flex;
	flex-wrap: wrap;
	@media(--1200vp) {
		width: 97%;
		margin: 0 1.5% 8vw 1.5%;
	}
	@media(--768vp) {
		width: 100% !important;
		margin: 0 0 8vw 0;
	}
	&:nth-child(even) {
		& .card-image {
			order: 2;
			@media(--768vp) {
				order: 0;
			}
		}
	}
	& .card-image {
		width: 28%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		@media(--515vp) {
			width: 100% !important;
		}
		& img {
			max-width: 100%;
			height: auto;
			@media(--515vp) {
				width: 80% !important;
			}
		}
	}
	& > .block {
		width: 72%;
		@media(--515vp) {
			width: 100% !important;
		}
	}
}
.half-card {
	width: 47%;
	margin: 0 1.5% 8vw 1.5%;
	@media(--515vp) {
		width: 100% !important;
		margin: 0 0 8vw 0;
	}
}

/*-----------------------------------------
    IMAGE CARD
-----------------------------------------*/
.image-card {
	padding-bottom: 60px;
	@media(--515vp) {
		padding-bottom: 0;
	}
	& .card-image {
		width: 100%;
		height: 180px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	& a:button:last-of-type {
		margin-right: 0;
	}
}

/*-----------------------------------------
    ICON CARD
-----------------------------------------*/
.icon-card {
	& .card-icon {
		width: 40px;
		height: 40px;
		display: block;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

/*-----------------------------------------
    LINK CARD
-----------------------------------------*/
.link-card {
	& p {
			min-height: 120px;
			@media(--515vp) {
				min-height: 0;
			}
	}
}

/*-----------------------------------------
    UNDERLINE CARD
-----------------------------------------*/
.underline-card {
	& h3 {
		border-bottom: 2px solid var(--PrimaryTwo);
		padding-bottom: 4px;
	}
}

/*-----------------------------------------
    BACKGROUND CARD
-----------------------------------------*/
.bg-card {
	position: relative;
	padding: 30px 40px;
	min-height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@media(--1024vp) {
		width: 100% !important;
		margin: 0 0 2vw 0;
		min-height: 235px;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: color( var(--White) alpha(50%) );
	}
	&:nth-child(2) {
		&::after {
			background-color: var(--PrimaryOne);
		}
		& h3 {
			min-height: 0;
		}
		& form {
			position: relative;
			z-index: 2;
			padding: 0;
		}
	}
	& h3, & .button {
		position: relative;
		z-index: 2;
	}
	& h3 {
		min-height: 105px;
		margin-bottom: 2em;
		@media(--1200vp) {
			min-height: 70px;
		}
		@media(--768vp) {
			min-height: 0;
		}
	}
}

/*-----------------------------------------
    HOME CARD
-----------------------------------------*/
.home {
	& .card-container {
		justify-content: flex-start;
		& .icon-card {
			min-height: 375px;
			padding-bottom: 50px;
			position: relative;
			@media(--515vp) {
				min-height: auto;
				margin-bottom: 3vh;
			}
			& .button-block {
				position: absolute;
				bottom: 0;
				width: 100%;
				& a.button {
					padding: 8px 14px;
					position: relative;
				}
			}
		}
	}
}