.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
	transform: translate(calc(450px - 50%));
	@media(--1000vp) {
		transform: translate(calc(45vw - 50%));
	}
	&.gallery-columns-1 .gallery-item {
		width: 98%;
	}
	&.gallery-columns-2 .gallery-item {
		width: 48%;
		@media(--515vp) {
			width: 98%;
		}
	}
	&.gallery-columns-3 .gallery-item {
		width: 31%;
		@media(--1024vp) {
			width: 48%;
		}
		@media(--515vp) {
			width: 98%;
		}
	}
	&.gallery-columns-4 {
		& .gallery-item {
			width: 23%;
			@media(--1200vp) {
				width: 31%;
			}
			@media(--1024vp) {
				width: 48%;
			}
			@media(--515vp) {
				width: 98%;
			}
		}
	}
	&.gallery-columns-5 .gallery-item {
		width: 18%;
		@media(--1200vp) {
			width: 31%;
		}
		@media(--1024vp) {
			width: 48%;
		}
		@media(--515vp) {
			width: 98%;
		}
	}
}
.gallery-item {
		margin: 3vh 0;
		text-align: center;
}